body {
    margin: 0;
    min-width: 250px;
    background-color: #ffffff;
    opacity: 1;
    background-size: 80px 80px;
    background-image: repeating-linear-gradient(0deg, #a101dd, #a101dd 4px, #ffffff 4px, #ffffff);
    font-family: monospace;
}

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
    background: #fff;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #a101dd;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #a101dd;
    color: white;
}
.navbar{
    width: 100%;
    height: 31vh;
    background-color: #a101dd;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.left{
    width:20%;
}
.right{
    width:80%;
    font-size: 2em;
}

/* Style the header */
.header {
    background-color: #a101dd;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
    padding: 9px;
    width: 25%;
    background: #a101dd;
    color: #ffffff;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    border: #ffffff 1px solid;
}

.addBtn:hover {
    background-color: #ffffff;
    color: #a101dd;
    border-left: #a101dd 2px solid;
}

.mainpage {
    width: 70%;
    margin-inline: 15%;
    margin-top: 10vh;
    box-shadow: #00000075 10px 10px 10px 10px;
}

.introduction {
    margin-top: 10vh;
    width: 70%;
    margin-inline: 15%;
    background-color: white;
    border: #a101dd 0.5em solid;
    text-align: center;
}

.instbody {
    color: #616062;
    text-align: start;
    margin: 2%;
}

.btn {
    border: none;
    background-color: #a101dd;
    color: white;
    padding: 12px;
    font-size: x-large;
    border-radius: 15px;
    border: #a101dd 1px solid;
    text-decoration: none;
}

.btn:hover {
    background-color: #ffffff;
    color: #a101dd;
}